[2014-11-14 12:42] hvr opened #2 "Review `base-4.8.0.0` for new types deserving `NFData` instance"
This is a reminder to make sure we don't forget to add new `NFData` instances

[2014-11-15 09:27] hvr opened #3 "Add `rwhnf` helper for NF=WHNF instances"
Here's an idea for a helper I wanted to document:

[code]

[2014-12-17 11:44] #2 closed, assigned to hvr

[2015-04-09 10:18] hvr opened #4 "Add `NFData ExitCode` instance"
https://hackage.haskell.org/package/base-4.8.0.0/docs/System-Exit.html

[2015-04-12 12:53] bennofs opened #5 "Box helper to wrap types where WHNF = NF"
I'd like a type that can be used to wrap values for which I want WHNF = NF. This is useful for satisfying NFData constraints with criterion for example.

[code]

Of course, this data type should be given a better name. Maybe `data` instead of `newtype` would also be useful for even more laziness?

[2015-04-12 12:56] bennofs opened #6 "Instances for IORef/TVar/MVar and other mutable containers"
I'd like to propose the following instances:

[code]

I think forcing a mutable container should not force the contained value, since that is not really "part" of the data type, it is just referenced. The instances are nevertheless useful when working with APIs that expect NFData types, for example criterion.

[2015-04-12 13:35] snoyberg commented on #6
Sounds reasonable to me.

[2015-04-13 08:09] hvr commented on #5
@bennofs btw, wasn't there already some mailing-list discussion about this?

[2015-04-13 20:25] ekmett commented on #6
Makes sense to me.

Way down in the guts of `STRef`, (and `IORef`, which is just a `newtype` of `STRef RealWorld`) there is a `MutVar#` which is of kind `#`, but lives on the heap as its own special closure type. What I don't know is if the MutVar# itself can ever be lazy. I just know it has a special heap closure type that is used to hold onto it. That thing is where we actually bang in the point

[2015-04-14 14:58] simonmar commented on #6
Yes, it is always strict.  These built-in types are unlifted (meaning they cannot be _|_).

[2015-04-14 15:26] ekmett commented on #6
Thanks. That'll help simplify the code I have for forcing all the way down to them in my not-yet-released `discrimination` package.

Longer verson:

In my case I have a `[(IORef a,b)]`, so I first force the list all the way down to the `IORef`s and count the number of entries, then make a `MutableByteArray#` of the right length, and in a custom `foreign prim` I can gather the addresses by walking

[2015-04-22 12:43] ezyang commented on #5
I have uploaded a package which does this https://hackage.haskell.org/package/nf though the type is called NF. Eventually we might move it into deepseq but this package will be useful for people who want to use it in older versions of GHC.

[2015-06-11 14:55] hvr opened #8 "NFData1 helper"
quoting http://permalink.gmane.org/gmane.comp.lang.haskell.libraries/24907, Henning writes

[2015-06-18 18:37] RyanGlScott commented on #8
Note that in the next version of `transformers`, the typeclasses in `Data.Functor.Classes` will look [slightly different](http://hub.darcs.net/ross/transformers/browse/Data/Functor/Classes.hs). If you want the proposed `NFData1` class to match the new design, it will look something like this:

[code]

Functionally, `rnf1` would be the same, but `rnfWith` allows more flexibility in defining _how_ t

[2015-06-19 22:49] ezyang commented on #8
I am not very sympathetic to the Haskell'98 motivation. For example, if you look at the evolution of Typeable, we have moved away from Typeable/Typeable1/Typeable2 using kind polymorphism. In the requester's case, FlexibleInstances works fine to support the instances he wants to write.

[2015-06-19 23:42] RyanGlScott commented on #8
Keep in mind that there is another important use-case for higher-kinded class analogues: handling polymorphic recursion. Using this example from http://flint.cs.yale.edu/trifonov/papers/sqcc.pdf:

[code]

One can create an `NFData` instance for `Two`:

[code]

However, if we try to define an `NFData` instance for `Sq`:

[code]

If we try to typecheck this, GHC will complain that an `NFData (f (f a

[2015-06-20 02:05] dolio commented on #8
Technically, anything you can do with `rnfWith` can be done with `rnf1`. It's much nicer to just have the former, though.

If someone can come up with a way to make `NFData` polykinded, that'd be great. But it's not going to be anywhere near as easy as `Typeable`, because we need to take actual arguments of the relevant type, not just deal in things like `TypeRep` and `Proxy` where the polykinded

[2015-10-13 06:35] glguy commented on #6
The above commit doesn't add the TVar instance because I wasn't able to import GHC.Conc safely. Is there a safe way to get this instance? Does the module need to become Trustworthy?

[2015-10-13 06:39] #4 closed

[2015-11-29 08:13] hvr opened #11 "Add NFData instances for Semigroup/NonEmpty"
See  ekmett/semigroups#56 for more details

[2015-11-29 08:19] #11 closed

[2016-01-30 21:32] treeowl opened #13 "Add deeply strict liftM"
`Control.Monad` offers `<$!>`. By analogy, I believe this package should offer

[code]

[2016-02-18 02:38] RyanGlScott commented on #3
As of GHC 8.0, it would be possible to enforce such a property via GHC generics! https://github.com/iu-parfunc/cnf-mutable-tests/blob/2b48584de0302553e9bf099d373bbe66b06b70c1/GenericExample.hs#L24-L79

[2016-02-18 10:11] bgamari commented on #3
Actually, you may even be able to automatically choose from between deep and shallow `seq` (although this doesn't quite work for reason I don't yet understand): https://gist.github.com/bgamari/b67becc433026e80ba2b

[2016-03-21 11:41] int-index opened #14 "NFData for Proxy is not poly-kinded"
`rnf (Proxy :: Proxy 0)` fails with this error:

[code]

[2016-03-21 22:04] hvr commented on #14
See #9

[2016-03-21 22:05] #14 closed

[2016-03-21 22:07] int-index commented on #14
Great, thanks, I didn't notice that it's fixed in `master`.

[2016-04-17 10:08] hvr commented on #6
@glguy tbh, I don't like to sacrifice `{-# LANGUAGE Safe #-}` only because of one instance... I'll punt on `TVar` for 1.4.2;

maybe we could just have the `stm` package define an orphan `NFData` instance, after all `stm` is the recommended public STM api afaik.

maybe at some point in the future `NFData` will be folded into `base`... then it could become a non-orphan without the SafeHaskell issues

[2016-04-17 10:08] #6 closed

[2016-04-19 15:43] hvr opened #15 "Instance for `TVar`"
This is a left-over issue from #6

As described in https://github.com/haskell/deepseq/issues/6#issuecomment-147619390 by @glguy defining an instance for `TVar` is complicated since we'd lose `{-# LANGUAGE Safe #-}` by import `TVar` which seems undesirable, given all other instances can be imported safely.

[2016-05-23 09:27] amigalemming opened #16 "remove instance NFData (a -> b)"
I suggested to remove the instance NFData (a -> b) because it cannot be implemented properly. I think the proposal got broad support:
https://mail.haskell.org/libraries/2016-May/026961.html
We have still to decide whether to drop the instance or replace it by an unimplementable one. The latter one would have the advantage that people see that the instance is omitted by intention. We would need a m

[2016-05-23 10:27] hvr commented on #16
tbh, I'd like the @haskell/core-language-committee to sign off on this.

Personally, I'd prefer an unimplementable instance, as otherwise all it takes is one orphan instance hidden somewhere in a popular package to thwart this change. And even worse, if more than one orphan instance appears, we would risk ending up in an even worse situation than we're now in :-/

[2016-05-23 10:29] hvr commented on #16
tbh, I'd like the @haskell/core-libraries-committee  to sign off on this.

Personally, I'd prefer an unimplementable instance, as otherwise all it takes is one orphan instance hidden somewhere in a popular package to thwart this change. And even worse, if more than one orphan instance appears, we would risk ending up in an even worse situation than we're now in :-/

(/cc'ing @RyanGlScott as he was

[2016-05-23 10:44] ekmett commented on #16
I have no objection to removing the instance, but I'm not a fan of the idea
of making it unimplementable.

Yes, one popular package could bring it back from the dead, or bring into
scope a variant that enumerates the entire domain of a function and
memoizes all results, but if it can weather the storm of popular opinion
then perhaps it deserves to come back. This scenario is unlikely given the
com

[2016-05-23 11:00] amigalemming commented on #16
On Mon, 23 May 2016, Edward Kmett wrote:

There needs to be only one package in any of hundred packages I import
defining this instance as an orphan and then this disables my type safety
check. I prefer the non-implementable instance and if someone needs the
enumerating instance he can implement it for a newtype wrapper of the
function type.

[2016-05-23 12:21] hvr commented on #16
@amigalemming afaik you suggested to implement some warning facility to annotate undesirable/questionable instances; can you think of a variant which would help here?

[2016-05-23 12:33] ekmett commented on #16
And you can just as easily implement an orphan instance module that
provides the impossible instance with the same head.

class Don'tExportMe where boom :: a
instance Don'tExportMe => NFData (a -> b) where
  rnf = boom

and import that to know that the other isn't being used in your code,
because now you'll get a overlapping instance head.

I'd, however, treat whatever package exported this instan

[2016-05-23 12:51] snoyberg commented on #16
I agree with Edward here, my vote goes with his stance.

On Mon, May 23, 2016, 3:33 PM Edward Kmett <notifications@github.com> wrote:

[2016-05-23 13:26] dolio commented on #16
I'm also for no instance at this point. If you think the existing instance is bad, it's better for no instance to exist, so that you get an error if you accidentally try to use it. The other instances I can think of have roughly the same negatives as the existing one. You don't get a compile-time complaint, you just have to figure out what went wrong if your program ever exercises the instance (an

[2016-05-23 13:44] amigalemming commented on #16
On Mon, 23 May 2016, dolio wrote:

I definitely want a compile-time complaint, and I think this can be better
done with an explicitly forbidden instance. I think of something similar
to Edward, only in Haskell 98, e.g.

class NotImplementable a where  -- not exported
instance NotImplementable a => NFData (a -> b) where

This instance tells any programmer that the instance cannot be defined
anymore

[2016-05-23 13:49] amigalemming commented on #16
On Mon, 23 May 2016, Herbert Valerio Riedel wrote:

I proposed this one:
    https://ghc.haskell.org/trac/ghc/ticket/11796

It would solve the issue here, too, but it is not implemented in GHC, it
did not even start a discussion, so far.

[2016-05-23 14:09] ekmett commented on #16
My point about that instance is that it is something that you are just as
free to implement as someone who wants to implement the instance you don't
like.

Just to be clear, I was not advocating that the instance I mentioned be
placed in base.

I was mentioning that if you wanted to rule out the instance in question,
you could write your own orphan instance in your own package somewhere, and
it'd

[2016-05-23 14:38] amigalemming commented on #16
On Mon, 23 May 2016, Edward Kmett wrote:

I understood it this way.

Is this a frequent usecase? How about using a newtype wrapper there? The
deepseq package could provide the wrapper even by itself.

[2016-05-23 14:48] ekmett commented on #16
The criterion example was one usecase. One that enumerates all of the
inputs and memoizes a function's results is another that has the same head
shape that also conflicts. Sure, we could hide it behind a newtype. We
could hide *every* instance for (->) behind a newtype, but we don't.

But if you can build with any version of your dependencies that doesn't
have the instance, then you can't be relyi

[2016-05-23 16:03] amigalemming commented on #16
On Mon, 23 May 2016, Edward Kmett wrote:

The existence of different possible implementations is an argument pro
dedicated newtype wrappers for me.

I want to be sure that I do not accidentally call 'rnf' or that a library
function calls 'rnf' for me on any structure, where a function is
contained somewhere deep in it, which can happen if only one of hundred
transitively imported packages defines

[2016-05-23 16:24] ekmett commented on #16
They can do that anyway if they just define their instance for any composite structure in the middle by hand. Even your newtype solution is evidence of this. You get no such transitive guarantee.

Sent from my iPhone

[2016-06-12 17:52] phadej commented on #8
@dolio I doubt that

E.g. `Eq1` from `transformers-0.5` for `Compose` has type-signature
[code]

when in `transformers-0.5
[code]

Same would hold for `Two` example, you'd need to `fmap` thru outer `f` to do stuff there, see: https://gist.github.com/phadej/75f9c8ce4958102242e3646d3cc885ae

[code]

[2016-06-12 18:47] phadej commented on #8
@dolio also in GHC-8.0 you can do not so messy polymorphic classes, because of injective type families and `TypeInType`: https://gist.github.com/phadej/2fc066c00e33b9486e1a3e5f7767a8d7 but that's very fragile looking, and you still have todo some manual work per new kind you want to support

[2016-06-12 21:35] dolio commented on #8
Yes, I think it's true that you need some extra conditions to use the old style, because fooWith contains some evidence that the type in question is covariant (or more precisely perhaps, foldable).

I guess that polykinded NFData example isn't _too_ terrible. :) I'm not sure I could support it going into the library, though. It seems like it'd be unpleasant to actually use without the wrappers. Bu

[2016-07-14 03:10] treeowl opened #17 "Offer Foldable helper"
It's possible to define a reasonable `NFData` instance for any `Foldable` type. We can offer a suitable `rnf` to help.

[code]

[2016-07-17 02:35] treeowl opened #19 "Fix GNFData instance for V1"
Currently, we have

[code]

For old GHC, we should have

[code]

For newer GHC, we should have

[code]

[2016-07-17 13:29] RyanGlScott commented on #19
I agree, but is there any reason you chose `pseq`? Wouldn't `seq` suffice (especially since `pseq` is only available from `base` if you use a [GHC-specific internal module](http://hackage.haskell.org/package/base-4.9.0.0/docs/GHC-Conc.html#v:pseq))?

[2016-07-17 15:09] treeowl commented on #19
I thought I remembered some trouble getting the right error message, but I
could be confused.

On Jul 17, 2016 9:29 AM, "Ryan Scott" <notifications@github.com> wrote:

[2016-07-18 20:24] treeowl commented on #19
Indeed, I *was* confused. The problem I remembered with `seq` showed up with the old definition of `Void` as

[code]

where the error behavior of `void` under 7.6 is extremely sensitive to details of its definition. In any case, the current definition (which I initially copied incorrectly&mdash;I've now edited the description to reflect reality) is really quite awful.

[2016-07-18 20:33] rwbarton commented on #19
Why can't it just be ``grnf x = x `seq` ()``?

[2016-07-18 20:45] treeowl commented on #19
@rwbarton, it can be, but I don't think that's nearly as clear, since the `()` is unreachable.

[2016-07-27 21:09] rwbarton commented on #17
As I mentioned on the PR, this often isn't reasonable at all, since there could be fields not covered by the Foldable instance, such as any field that just has a fixed type like `String`.

[2016-08-15 16:40] RyanGlScott commented on #13
Sanity-check: is this quite analogous to `(<$!>)` from `base`? Its definition is:

[code]

Whereas with `(<$!!>)`, we have something that's closer to:

[code]

I'd hope that GHC is smart enough to apply CSE on the two occurrences of `f x`, but maybe it'd be wise to use explicit sharing here.

[2016-08-15 16:54] treeowl commented on #13
I don't understand how it could translate the way you say. Doesn't `$!!` take care of the sharing here? If not, that's broken.

[2016-08-15 16:57] RyanGlScott commented on #13
Ah, you're right, I inlined one too many definitions in my head. The fact that you're using `($!!)` here explicitly takes care of that issue. Carry on :)

[2016-08-15 17:14] treeowl commented on #13
The bigger problem is that `<$!>` is weird. It should really be called `<!$>`. `<$!>` should force the argument; `<!$!>` should force both. For `deepseq`, I think only `<!!$>` and `<$!!>` are really useful. But it's too late to fix this, so we should follow `base` for consistency.

[2016-08-16 12:23] #19 closed

[2016-10-09 22:42] phadej commented on #8
https://github.com/ekmett/bound/pull/36 needs for some kind of `NFData1` too

[2016-10-11 06:35] phadej commented on #15
should the instance live in `stm` package instead? No safety problem then?

[2016-11-17 14:39] #13 closed

[2016-11-17 19:26] #3 closed

[2016-11-20 18:22] hvr commented on #15
@phadej yeah, the only not-so-nice  is that in `stm` it'd be an orphan

[2016-11-20 19:10] #8 closed

[2016-12-09 08:49] hvr opened #27 "Review API for conditionally defined items"
I notice/realise we expose some instances that are defined based on `base` version despite them existing before the given `base` version. This is obviously a problem as it would violate the package abstraction in a non-benign way.

[2016-12-09 11:43] RyanGlScott commented on #27
Which instances are you referring to? Are you talking about, say, the `NFData` instance for `Array`, which has a different context depending on the `base` version? Are you referring to instances like the one for `Identity`, which are only exposed conditionally based on the `base` versiom but have existed prior to that in `transformers`? Something else?

[2016-12-12 08:07] hvr commented on #27
@RyanGlScott Among others, I noticed a couple of new NFData1 instances being added and guarded behind CPP. I'd just like to get an overview of the damage, and figure out whether to add some big visible documentation signpost in the haddocks, or even constraint the lower bound on base, in order to reduce the exposure to the risk. I was already planning to constraint to `base >= 4.5` so we can final

[2016-12-12 20:18] RyanGlScott commented on #27
Ah, #21 you mean. Here are all the conditionally defined `NFData{1,2}` instances that were introduced:

* [`NFData1 (Array a)`/`NFData2 Array`](https://github.com/haskell/deepseq/blob/418856afb4e70127d9dce309a198b18dc47bd7d9/Control/DeepSeq.hs#L495-L508) (`#if __GLASGOW_HASKELL__ >= 711`)
* [`NFData1 Ratio`](https://github.com/haskell/deepseq/blob/418856afb4e70127d9dce309a198b18dc47bd7d9/Control/D

[2017-01-27 22:22] vagarenko opened #29 "Inefficient derived instance"
Please see http://stackoverflow.com/questions/41884350/performance-difference-with-unpacking?noredirect=1#comment70951584_41884350

I have 2 datatypes for 4x4 matrix of Float:
1) Matrix made of four four-element vectors of Float
2) Matrix of 16 elements of Float

I suppose they have to be identical, but derived core code for NFData instance turns out to be different:

1) 4 vectors of 4 elems:

[co

[2017-01-28 00:05] RyanGlScott commented on #29
Indeed, the `GHC.Generics`-based default is not well suited for strict fields at the moment. There have been some ideas floating around to address this (see [here](https://github.com/haskell/deepseq/issues/3#issuecomment-185515618)), but it would probably require some more type-level hackery than `deepseq` currently implements.

Until then, you should probably define your `NFData` instances for WH

[2017-03-10 08:58] phadej opened #31 "Add NFData (a :~: b) instance"

[2017-04-14 19:23] alexanderkjeldaas opened #34 "ghc-8.2.0-rc1 compilation error"
[code]

[2017-04-14 19:24] alexanderkjeldaas commented on #34
using the stack setup:

[code]

[2017-04-14 19:29] alexanderkjeldaas commented on #34
I guess this is already fixed in `master`.

I'll show myself out. thanks.

[2017-04-14 19:29] #34 closed

[2017-04-14 20:12] hvr commented on #34
@alexanderkjeldaas Fwiw, `deepseq-1.4.2` has an upper bound `base < 4.10` (while GHC 8.2 comes with an non-upgradable `base-4.11`), if Stack doesn't honor that version constraint, you should file a bug upstream.

[2017-04-16 07:41] #31 closed

[2017-04-16 08:20] hvr commented on #19
@RyanGlScott @treeowl  just double-checking, can you think of any (reasonable) program that could break or change its semantics due to this change when upgrading from deepseq-1.4.2 to the unreleased deepseq-1.4.3?

[2017-04-16 14:13] RyanGlScott commented on #19
As far as a change in semantics goes, it depends on whether you're using a very recent GHC or not.

If you're using any GHC up to 8.2, then I don't think you'd notice much of a difference at all. The reason being is that the old `GNFData V1` instance always threw `error "Control.DeepSeq.rnf: uninhabited type"`, regardless of whether the `V1` value was actually nonterminating or something which thr

[2017-04-22 06:12] kolmodin commented on #34
@hvr Can you release a new version of deepseq? It would make testing GHC 8.2.0-rc1 a lot easier. If there are no versions of deepseq that works with the latest RC it's harder to test :)
Thanks Herbert!

[2017-04-22 07:31] hvr commented on #34
@kolmodin I'm not sure what you mean. `deepseq` is bundled with GHC, so if you install GHC 8.2.0-rc1 you automatically get the "rc" version of `deepseq` as well. I've also updated the release-candidate of `deepseq` over  at http://hackage.haskell.org/package/deepseq-1.4.3.0/candidate

[2017-04-22 10:05] kolmodin commented on #34
Oh, cool, I did not know about candidates on hackage. I'll read up on that.

So the issue that Alexander has was stack specific then? It's supposed to make use of the deepseq version that comes with GHC, but (maybe) the Stack LTS pins another version? Hmm. Ok.

Good that it's supposed to work for cabal users at least, it's frustrating when some packages hinder testing new versions of GHC.
So, fals

[2017-04-22 10:25] hvr commented on #34
@kolmodin Yeah, what Alexander was experiencing seems rather like a Stack bug to me, as `deepseq-1.4.2.0`'s meta-data explicitly states that it excludes GHC 8.2.0RC's `base-4.11`. For reference, here's what a recent GHC 8.2 snapshot contains in its global database out of the box (and that's gonna change slightly for RC2, as not all libraries had been finalised when RC1 was cut):

[code]

[2017-04-23 08:04] snoyberg commented on #34
I got linked here from Twitter. When reviewing, I _think_ the Stack repro is incomplete. If I use the above `stack.yaml` and run:

    stack build deepseq --install-ghc

I get:

[code]

I'm going to guess that there was an additional `resolver` line in the config file, such as `resolver: lts-8.9`. Adding that line (and also `packages: []` since I don't have any local packages), I get the following

[2017-05-11 02:45] recursion-ninja opened #35 "Don't define the NFData TypeRep instance on GHC 8.2+"
While testing some packages which depend on `deepseq` with GHC 8.2, I noticed that there is some breakage:

    [1 of 1] Compiling Control.DeepSeq (...)

    /tmp/stack4748/deepseq-1.4.2.0/Control/DeepSeq.hs:420:10: error:
        • Illegal instance declaration for ‘NFData TypeRep’
            (All instance types must be of the form (T t1 ... tn)
             where T is not a synonym.

[2017-05-11 03:06] recursion-ninja commented on #35
I was pulling version `1.4.2.0` off of hackage.

This might has been taken care of in version `1.4.3.0`.

I didn't notice the version bump until after I had created the issue. This has already been resolved.

[2017-05-11 03:06] #35 closed

[2017-05-12 17:06] hvr commented on #35
@recursion-ninja  `deepseq-1.4.2.0`'s dependency constraints on Hackage explicitly reject the library versions that come with GHC 8.2 (such as `base` which is not reinstallable). So what you've experienced should not be possible.

[2017-07-19 13:33] domenkozar commented on #34
@hvr I was also bitten by this and it's hard to figure out (track this issue) down. Could we have `deepseq-1.4.3.0` released?

[2017-07-19 16:18] hvr commented on #34
@domenkozar Soon! But tbh, I still consider this primarily a conceptual UI problem. We'll  run into this situation next year yet again unless Stack improves its UX. Also note that the explanation given above about why Stack is insisting on reinstalling `deepseq` even though `deepseq` does in fact fall into the definition of  "anything which is a direct or indirect dependency of the `ghc` and `temp

[2017-07-19 16:21] domenkozar commented on #34
@hvr I agree, stack should ignore bumping GHC core libraries - at least unless explicitly said so.

[2017-07-19 16:22] RyanGlScott commented on #34
Indeed. I'm still quite baffled at why `stack` doesn't pick the `deepseq-1.4.3.0` that is bundled with GHC 8.2, especially since it's a dependency of the `ghc` library.

Until then, I recommend the workaround in [Taylor Fausak's wonderful field guide](http://taylor.fausak.me/2017/05/17/testing-ghc-release-candidates-with-stack/) to testing GHC 8.2.1 with `stack`. In particular, [this advice](http:

[2017-09-23 17:12] treeowl commented on #15
One option would be to add a `Trustworthy` module to define the `rnf` function and import it into `Control.DeepSeq`. But that seems pretty silly! The right answer is surely to add a safe `TVar` re-export somewhere in `base`.

[2017-09-24 14:14] RyanGlScott commented on #15
That would be nice. But this needn't stop us from adding an `NFData` instance for `TVar` today, since there's a module [`Control.DeepSeq.BackDoor`](https://github.com/haskell/deepseq/blob/18fc08e66d2ad1a72a6f78708acbead007d4a580/Control/DeepSeq/BackDoor.hs) specifically for the purpose of safely re-exporting things from `base` that currently can't be imported safely. We'd likely have to perform so

[2017-09-24 17:09] hvr commented on #15
Yeah, this ticket predates the backdoor module by 1 year... so I mostly forgot about this... if anyone wants to take a stab at a PR...? :-)

[2017-11-16 23:06] ndmitchell opened #37 "Implement NFData for TypeRep in older GHC's"
NFData for TypeRep is only implemented in newer GHC's. I suggest implementing it as `rnf . show` in those older GHCs so at least it is available, even if less efficient.

[2018-03-19 15:07] RyanGlScott opened #39 "Upgrade Travis to haskell-ci"
Currently, the Travis script is using a hacky setup that should probably be replaced with [`haskell-ci`](https://github.com/haskell-CI/haskell-ci). I've made an effort to do so on the `tests-in-separate-component` branch. Because the dependencies of the test suite depend on `deepseq`, we have to put the tests in a separate `.cabal` file to work around https://github.com/haskell/cabal/issues/5200,

[2018-03-19 15:13] RyanGlScott commented on #27
What is the current status of this?

[2018-03-19 15:19] ndmitchell commented on #37
You can definitely define it better, by poking inside `TyCon`, which is entirely exposed via the Internal module in base-4.7.0.2

[2018-03-19 19:50] RyanGlScott commented on #37
Ah! Good point. This is actually quite doable then.

#40

[2018-03-20 15:20] #37 closed

[2018-03-20 18:40] RyanGlScott commented on #39
It looks like this is a `cabal new-build`–specific issue. See https://github.com/haskell/cabal/issues/5223.

Until that can be resolved, it seems we're blocked here.

[2018-03-20 20:17] RyanGlScott commented on #39
As noted on https://github.com/haskell/cabal/issues/5169, a workaround for this issue is downgrading to `cabal-install-2.0`. That makes some of the build configurations work, but there's still issues on GHC 7.4 and 7.6. Here's an [example build failure](https://travis-ci.org/haskell/deepseq/jobs/356006218#L666) to puzzle over.

[2018-05-02 17:14] RyanGlScott commented on #39
Rats, I think the GHC 7.4 and 7.6 build errors observed in https://github.com/haskell/deepseq/issues/39#issuecomment-374741971 are caused by `cabal-install-2.0` having a worse solver than 2.2, since with `cabal-install-2.2`, I'm able to successfully construct a build plan on 7.4 and 7.6. Unfortunately, I can't actually _build_ it due to https://github.com/haskell/cabal/issues/5223, so we're once a

[2018-07-14 15:53] bgamari opened #42 "Cut release for GHC 8.6.1"
Thanks in advance!

[2019-01-19 13:40] #42 closed

[2019-02-21 10:02] rightfold commented on #5
This would be amazing to use with DerivingVia:

[code]

[2019-05-07 09:43] ndmitchell opened #44 "Add instance for ForeignPtr"
It's missing, and seems like there is no reason to omit it.

[2019-06-24 14:17] chessai commented on #16
I think the main issue is the removal of the instance. It seems that this instance is not widely useful, and can be implemented as an orphan (or perhaps a newtype) for those who need it. Making it unimplementable seems to be a more controversial stretch, and tacking it on to the issue of the instance's removal makes it more likely that nothing will get done at all.

I think we should just remove t

[2019-06-24 14:48] amigalemming commented on #16
On Mon, 24 Jun 2019, chessai wrote:

Yes, please.

[2019-06-24 14:53] andrewthad commented on #16
I agree that this instance just needs to be removed.

[2019-06-24 15:44] chessai commented on #16
see #47

[2019-09-17 06:50] uzytkownik opened #49 "($!!) seems to be implemented incorrectly"
Current implementation of `$!!` is:
[code]
However per documentation of `seq` and `deepseq` the second argument may be evaluated before the first one. This means that means that `f x` may be evaluated before `rnf x`.

Probably this should be changed to:

[code]
This way `f` may be evaluated before `rnf x` but `f' x`/`f x` will be evaluated after `rnf x`.

[2019-09-17 16:01] glguy commented on #49
It looks like the documentation for `$!!` is wrong. There's no guarantee of evaluation order with `$!` or `$!!`

Similarly the Haskell Report specifies the behavior of `$!` as ``f $! x    =  x ‘seq‘ f x``

[2019-11-02 15:32] Zemyla commented on #16
What it actually should do is use `seq` to turn it to WHNF, then use [`unpackClosure#`](https://hackage.haskell.org/package/ghc-prim-0.5.3/docs/GHC-Prim.html#v:unpackClosure-35-) to make sure everything inside it is evaluated as well.

[2019-11-02 15:37] amigalemming commented on #16
On Sat, 2 Nov 2019, Zemyla wrote:

The function can still be partial and then `rnf` should diverge, too,
shouldn't it?

[2019-11-02 15:59] Zemyla commented on #16
`unpackClosure#` doesn't actually evaluate the function. It simply takes it apart into the component pieces where any data needed for actually calling the function are stored.

Basically, imagine a subset of Haskell where only named functions exist and can be passed to things. To represent a partially evaluated function of some sort, you'd need an existential datatype, and functions to manipulate

[2019-11-02 16:03] amigalemming commented on #16
On Sat, 2 Nov 2019, Zemyla wrote:

I think I understand what you are suggesting, but I doubt that it is a
useful definition.

[2019-12-26 18:18] bgamari opened #53 "Cut release for GHC 8.10.1"
GHC 8.10.1 will ship with `deepseq` based upon da0eda33f540786b6823c6f542ab59cf9d1b71d9. It would be great to have a release cut based on this commit in the next week.

[2020-01-04 22:43] bgamari commented on #53
Seeing as there has been no progress on this I'm going to have to revert to 1.4.4.0 which we'll need to release a revision for.

[2020-01-15 19:04] #53 closed

[2020-01-15 19:04] bgamari commented on #53
GHC submodule was reverted for 8.10.1 in f75c4b5c224bfceaa92cdbe3a5f16dd94ea77c85.

[2020-01-21 14:24] sjakobi commented on #44
https://gitlab.haskell.org/ghc/ghc/issues/17290 seems related.

[2020-01-22 17:01] int-index commented on #16
I agree with @Zemyla that `rnf` for functions should force everything inside the function's closure.

I disagree @amigalemming. This definition would be very much in spirit of the goals of `deepseq`. The [documentation on Hackage](https://hackage.haskell.org/package/deepseq-1.4.4.0/docs/Control-DeepSeq.html) presents lazy IO as a use case for `rnf`:

[code]

Here, it is safe because `rnf s` forces

[2020-01-22 17:26] int-index commented on #16
Although I'm not sure how @Zemyla imagines running `rnf` for the data captured in the function closure. Where would the `NFData` instances for the captured data come from? This suggests that `rnf` should be a primitive implemented in the RTS.

[2020-01-22 20:11] cartazio commented on #16
yeah, as @int-index  says, forcing the captured thunks in a closure requires RTS hooks to work, and closures are existentials, and thus the RTS would have to know about how to `NFData` everything underneath the function itself. Thats a pretty hard ask

[2020-01-22 20:21] cartazio commented on #16
or maybe i'm missunderstanding this thread :)

[2020-01-22 20:27] int-index commented on #16
Maybe not – I believe NFData can be implemented in a generic manner, without having instances at all. Just like `seq` does not require any instances.

[2020-01-22 20:47] int-index commented on #16
I'd like to offer the following specification:

* `rnf :: a -> ()` should be a function such that for any `f` and `cont`, the following program prints `A` before `B`, if at all:

[code]

Currently, this holds for some choices of `f` and `cont`, such as:

[code]

However, it fails with other choices of `f` and `cont` due to the NFData function instance (the removal of which is proposed in this tick

[2020-01-22 20:56] Zemyla commented on #16
Exactly. The Haskell RTS knows what is inside each ADT and function, or else the garbage collector wouldn't work. And actually performing the RNF isn't trivial, but it is mechanical; evaluate thunks, walk into ADTs and closures and lifted immutable pointers (`Array#`, `ArrayArray#`, `Weak#`, etc), and RNF everything inside. Keep everything that's been fully evaluated in a hash table or something s

[2020-01-22 21:23] cartazio commented on #16
One gotcha is making sure it plays nice with garbage collection. One
languishing huge issue implicit with current rts primops is some of them
dont yield to the scheduler tool completion.

On Wed, Jan 22, 2020 at 3:56 PM Zemyla <notifications@github.com> wrote:

[2020-01-22 23:30] phadej commented on #16
The in-RTS "deepseq" can be implemented without touching `deepseq` library, so that's out of scope of this library, and would require GHC proposal.

[2020-03-30 19:55] arybczak commented on #29
This isn't a problem of strict fields, it's a problem of generics not optimizing away for larger data types. See https://gitlab.haskell.org/ghc/ghc/-/merge_requests/2965 for relevant discussion.

Basically, with the above patch derived generic `NFData` instance for a type:

[code]

ends up as the following core:
[code]

and for the same type with strict fields:

[code]

core ends up like this:

[c

[2020-06-20 23:51] chessai commented on #44
I agree. @ndmitchell Do you have time to prepare a PR?

[2020-06-21 15:08] ndmitchell commented on #44
There's already a PR for it at #50 so I suggest just merging that one.

[2020-12-31 15:23] arybczak commented on #29
FYI this will be fixed in GHC 9.2 (at least for types with one constructor).

[2021-01-31 02:11] bgamari opened #60 "Release for GHC 9.0"
It would be great if we could get a release off of 13c1c84 to ship with GHC 9.0.1.

[2021-01-31 02:34] chessai commented on #60
Sounds good. What's the deadline? I won't be back to a computer until
Monday.

On Sat, Jan 30, 2021, 20:11 Ben Gamari <notifications@github.com> wrote:

[2021-01-31 21:02] bgamari commented on #60
Monday would be fine.

[2021-02-02 02:57] chessai commented on #60
Instead of a release, could we do with just a revision?

I'm assuming you just need the version bounds bumped, and nothing else (note there are breaking changes preceding that commit)

[2021-02-02 06:08] bgamari commented on #60
I'm afraid not since 13c1c84415da727ab56e9fa33aca5046b6683848 includes fe6994ed37f8e8202292dd7d50bacf790201b71f which adds an instance which is not present in 1.4.4.0.

[2021-02-02 16:48] chessai commented on #60
This was done

[2021-02-02 16:48] #60 closed

[2021-02-02 16:48] chessai commented on #60
tag for release: https://github.com/haskell/deepseq/tree/v1.4.5.0

[2021-03-13 22:01] kozross opened #63 "Incompatible with array 0.5.4.0"
This seems a bit odd, since the only change was a `Read` instance.

[2021-03-13 22:22] emilypi commented on #63
@bgamari

[2021-04-09 00:08] nfrisby opened #64 "Add instances for GHC.Generics data types"
I'm currently in a situation where, I want to `rnf` a value from an upstream library, and it doesn't define `NFData` instances.

It does, however, define a `Generic` instance. If there were `NFData` instances for the data types defined in `GHC.Generics` (eg `U1` etc), I could write `rnf . GHC.Generics.from`. Alternatively, if the `grnf` definition were exported, I could similarly write `grnf . GHC

[2021-04-13 15:04] andrewthad commented on #64
I think that defining instances for the types in `GHC.Generics` sounds reasonable. You'd need `NFData1` for some of the stuff, but all the instances seem pretty straightforward. Any of the maintainers of this library have any thoughts?

[2021-04-13 15:09] chessai commented on #64
+1 from me, seems perfectly reasonable

[2021-08-24 07:02] phadej opened #66 "deepseq-1.4.6.0 is not on Hackage"
but already bundled with GHC-9.2.0-rc1.

(Also there is no changelog entry in the repository, or even a tag, which is what I was looking for).

[2021-08-30 17:07] phadej opened #67 "Add instances for `Solo` (GHC-9.0 and 9.2)"
cc @treeowl

[2021-08-30 17:13] treeowl commented on #67
Yes. I still don't have solid word on whether it'll be in `base` in 9.2, but it's already in `ghc-prim`.

[2021-08-30 17:18] phadej commented on #67
It would be great if `deepseq` bundler with GHC-9.2 had instances already (depending on `ghc-prim` shouldn't be a problem).

Ping @sjakobi

[2021-09-01 11:01] sjakobi commented on #67
@phadej I assume you pinged me believing that I'm a a maintainer for `deepseq`. I'm not though. All my commits to `deepseq` were merged by @chessai, who is the only active `deepseq` maintainer I'm aware of.

[2021-09-01 18:41] chessai commented on #67
I would take a PR for this. @treeowl we can just depend on ghc-prim without issue, if Solo won't be in base in 9.2. cc @bgamari for whether or not that's the case

[2021-09-01 18:43] chessai commented on #63
Can you clarify in what way it is incompatible? Does deepseq no longer compile with array 0.5.4.0? If so, what's the error?

[2021-09-01 18:44] chessai commented on #39
We should just use GitHub actions now, which should work fine, especially when we drop 7.x support. Please re-open if I'm wrong.

[2021-09-01 18:44] #39 closed

[2021-09-01 18:44] chessai opened #68 "use GitHub actions"

[2021-09-01 18:46] chessai commented on #49
@uzytkownik would you like to prepare a PR fixing the documentation?

[2021-09-01 18:49] chessai commented on #66
What is the commit GHC is using as 1.4.6.0? (I don't have time to look right now). Does it just include the change for removing Option instances as compared to 1.4.5.0? cc @bgamari

[2021-09-01 19:11] phadej commented on #66
It might make sense to wait what happens with `Solo` in `base` and resolve #67 before making proper release.

[2021-09-01 19:48] #67 closed

[2021-09-02 03:06] kozross commented on #63
OK, having reattempted builds with the combination of latest `deepseq` and that version of `array`, I can no longer reproduce this bug. Feel free to close - I'll reopen with more precise evidence if and when I find it.

[2021-09-04 14:44] #63 closed

[2021-10-31 15:43] phadej commented on #66
GHC-9.2.1 is released, `deepseq-1.4.6.0` is not on Hackage yet.

[2021-10-31 15:44] phadej commented on #66
GHC-9.2.1 is released, `deepseq-1.4.6.0` is not on Hackage yet.

cc @chessai, @Bodigrim, @bgamari

[2021-10-31 15:45] phadej commented on #66
Also:

[code]

So #67 didn't make it into the `1.4.6.0`. I'm slightly disappointed.

[2021-10-31 16:30] Bodigrim commented on #66
@phadej I'm not a maintainer of `deepseq`.

[2021-10-31 16:37] phadej commented on #66
@Bodigrim you are CLC chair, and `deepseq` is an owner of `deepseq`. Maintainer or `deepseq`, herbert, is absent.

[2021-10-31 16:42] Bodigrim commented on #66
https://hackage.haskell.org/package/deepseq/maintainers/ lists @chessai as a maintainer, but I don't know whether it was a voluntary choice on his part or just temporarily substituting for Herbert as a CLC Chair. If it's the latter (@chessai could you please clarify?), we should source and install a new maintainer indeed.

[2021-11-01 03:52] chessai commented on #66
I am listed because of the lack of maintainers hip. I have helped with deepseq a bit in the last few months, but am far from a maintainer of it. We need to source a new maintainer(s).

[2021-11-04 02:36] cigsender commented on #66
I'd be willing to take over maintainership of this package for the time being, to help push issues through that have been stagnating.

[2021-11-04 22:02] Bodigrim commented on #66
@cigsender great!

Dear CLC members, I suggest we approve installing @cigsender as a new maintainer of `deepseq`. Please vote below.
@chessai @emilypi @cgibbard @gwils

+1.

[2021-11-04 22:05] cgibbard commented on #66
+1

[2021-11-05 20:17] emilypi commented on #66
+1

[2021-11-05 21:00] Bodigrim commented on #66
Assuming @cigsender votes for herself, we have 4 votes in favor out of 6. Assuming she abstains because of the conflict of interests, we have 3 votes in favor out of 5. Both ways the suggestion is approved.

@emilypi @chessai could you please grant @cigsender GitHub maintainer bits for this repo?

@gbaz could you please give @cigsender Hackage maintainers rights for `deepseq`? @cigsender what is y

[2021-11-05 21:07] cigsender commented on #66
@Bodigrim my hackage username is `melaniebrown`.

[2021-11-05 22:22] chessai commented on #66
@Bodigrim and @cigsender you should have received invites to the CLC Haskell GitHub team. This will grant you access to all core libraries.

[2021-11-06 04:23] gbaz commented on #66
done. Note that because chessai is in the maintainers group, that could have been handled directly :-)

[2021-11-06 19:37] Bodigrim commented on #66
Cool. We need to figure out which commit was shipped with GHC 9.2.1 and make a matching release.

[2021-11-13 20:32] cigsender commented on #66
https://hackage.haskell.org/package/deepseq-1.4.6.0

[2021-11-13 20:32] #66 closed

[2021-11-13 21:03] phadej opened #72 "Changelog for 1.4.5.0 seems wrong"
The changelog for 1.4.5.0 has:

[code]

entry,

However:

[code]

and

[code]

but for 1.4.6.0:

[code]

[2021-11-13 21:23] phadej opened #73 "CI doesn't test GHC-7 versions"
There are (so far successful) plans back to GHC-7.4

Either officially drop older GHC support and raise the `base` lower-bound, or please add CI for older GHCs too.

[2021-11-14 02:19] cigsender commented on #72
Thanks Oleg, this has been fixed.

This commit history is well and truly tangled :D

[2021-11-14 02:41] cigsender commented on #73
A simple "add GHC versions 7.4 through 7.10" doesn't work, as `haskell-ci` uses GHCup under the hood which only supports 8.0+. I am planning a major version bump to 1.5 in the near future which will remove support for GHC <= 7 (`base <= 4.9.0.0`) to remove the need for `Control.DeepSeq.BackDoor` and lighten the CPP load.

[2021-11-14 10:34] cigsender commented on #68
CI is now set up.

[2021-11-14 10:34] #68 closed

[2021-11-14 10:35] cigsender commented on #73
CI for older GHCs is now included.

[2021-11-14 10:35] #73 closed

[2021-11-14 10:36] cigsender commented on #72
It seems this fix wasn't as easy as I had first thought. The breaking change slipped into `v1.4.6.0` which got uploaded to Hackage, but doesn't appear in the pseudo-`1.4.6.0` that was forked and subsequently pinned into GHC. I've rectified the situation in `v1.4.6.1`.

[2021-11-14 10:48] phadej opened #74 "Why deepseq infix revert?"
1.4.6.1

It has been discussed in https://github.com/haskell/deepseq/pull/56, https://mail.haskell.org/pipermail/libraries/2020-April/030361.html

I also remember (but fail to find discussions) that this change is one where not adhering to **SHOULD** in PVP is justified. The major bump in `deepseq` version library would (especially now) make people angry for no reason, and the change doesn't break

[2021-11-14 10:49] phadej commented on #72
It's not. See #74

[2021-11-14 11:11] cigsender commented on #74
If you think this is justifiably minor-release-worthy, I'll add it to 1.4.7.0 before it gets pinned to GHC [here](https://gitlab.haskell.org/ghc/ghc/-/issues/20653).

[2021-11-14 11:43] phadej commented on #74
Christiaan's example is very convincing. I find hard time coming up with an example where changing fixity would break things.

OTOH, doing a  search on Hackage shows that there are many packages
which define `NFData` instances like:

**yarr**

[code]

or **windns**

[code]

or **vty**

[code]

or **haddock**

[code]

None of these would break, but I'd argue instead work as a reader
would think of,

[2021-11-14 12:39] cigsender commented on #74
Added in `v1.4.7.0`.

[2021-11-14 12:39] #74 closed

[2021-11-14 12:40] cigsender commented on #72
I believe the change log has been adequately rearranged despite the confusing recent history.

[2021-11-14 12:40] #72 closed

[2021-12-05 02:00] cigsender commented on #64
We have `GNFData` for these types. What benefit would giving them plain `NFData` yield?

[2021-12-17 22:13] treeowl opened #76 "Let the list instance fuse"
We can do something like

[code]

This is useful when the list isn't going to be used again. In practice, this mostly occurs

- in benchmarks
- when the list is constructed solely to force any exception thunks in it.

----
For fun, here it is point free (I wouldn't use this):

[code]

[2022-03-23 23:42] Icelandjack opened #78 "Add 'Whnf{,1,2}' (or some better name) newtype"
[code]

[2022-03-23 23:46] Icelandjack commented on #78
As well as

[code]

[2022-03-24 00:55] Bodigrim opened #80 "Add instance NFData MutableByteArray"
...once https://gitlab.haskell.org/ghc/ghc/-/merge_requests/7785 lands.
Cf. https://github.com/haskell/core-libraries-committee/issues/49

[2022-05-01 02:59] goldfirere opened #82 "Add instance for the indexed TypeRep from Type.Reflection"
Patch on the way.

[2022-05-04 19:18] #80 closed

[2022-07-19 03:28] bgamari opened #86 "Release for GHC 9.4.1"
We are quickly approaching the final release for 9.4.1 and we do not plan to merge any further breaking changes. A prompt release would be greatly appreciated.

[2022-07-20 22:23] bgamari commented on #86
@mixphix, ping.

[2022-07-20 22:41] mixphix commented on #86
Released `deepseq-1.4.8.0` to Hackage.

[2022-07-20 22:41] #86 closed

[2022-07-21 02:29] bgamari commented on #86
Thank you, @mixphix !

[2022-08-26 17:36] #82 closed

[2022-09-20 20:10] Icelandjack opened #88 "Add quantified superclasses to `NFData(1,2)`"
In line with [base: Relax instances for Functor combinators; put superclass on Class1 to make non-breaking](https://gitlab.haskell.org/ghc/ghc/-/merge_requests/4727) we should add superclasses to `NFData(1,2)`

[code]

[2022-09-20 20:55] phadej commented on #88
I'll wait until the above changed in `base` is released and ecosystem learned how well it works. (E.g. some weird code using `constraints`: We cannot have a `Dict` of `forall a. NFData a`, can we?)

Also this is technically a breaking change, so that's another good reason to not hurry.

[2022-09-20 22:03] Ericson2314 commented on #88
I agree this looks like a good idea. Thanks for proposing, @Icelandjack!

[2022-09-21 00:10] Icelandjack commented on #88
Hm with ImpredicativeTypes can we not have `Dict (forall a. NfData a)`?

[2022-09-21 08:22] phadej commented on #88
@Icelandjack I let someone else experiment and figure out.

[2022-10-07 19:32] treeowl opened #89 "Optimizing negations"
If we have `f :: b -> Void` and `g :: a -> b`, we can get `f . g :: a -> Void`. But if we do this recursively, we'll get closures of increasing size. Would it make sense to offer something like this?

[code]